In [1]:
import pysam
import pandas as pd
import numpy as np
import re

In [2]:
fpath = "/scratch/indikar_root/indikar1/shared_data/hybrid_reprogramming/demultiplex/run1.putative_bc.csv"

df = pd.read_csv(fpath)
df.head()

,read_id,putative_bc,putative_bc_min_q,putative_umi,polyT_end,pre_bc_flanking,post_umi_flanking
0,be606770-65a1-40be-89a6-c7056ce4d70e,NaN,NaN,NaN,NaN,NaN,NaN
1,74def5ea-567d-46dc-a16c-0cfa235ecd3f,NaN,NaN,NaN,NaN,NaN,NaN
2,4e43e793-a9d2-485b-8010-11fcfa3820cf,NaN,NaN,NaN,NaN,NaN,NaN
3,e243188c-0b57-4b67-9337-aa2a91a741a4,CAAGGATAGCTAATGT,18.0,GGTATCGGTGGA,-174.0,GATCT,TTTTT
4,96a72289-6bbb-4123-9489-4645e1535cb2,TGGACAAGTAGGTCAA,37.0,CTAGGCCCATCT,-125.0,GATCT,TTTTT